* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-fam: "Pixelify Sans", sans-serif;
    --white: #fffdfd;
    --black: #000000;
    --blue: #222fe6;
}

body {
    font-family: var(--font-fam);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

header h1 {
    font-size: 2rem;
}
.help-button {
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    font-family: var(--font-fam);
    font-size: 2rem;
}

main {
    background-color: var(--blue);
    color: var(--white);
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scores {
    display: flex;
    outline: solid 2px red;
    padding: 15px;
    justify-content: space-around;
}

.game-round {
    display: flex;
}

.game-images {
    display: flex;
}

.human-img,
.computer-image {
    background-color: var(--black);
    width: 80px;
}

.game-buttons {
    display: flex;
}

.game-buttons > * {
    background-color: var(--white);
    color: var(--black);
    padding: 15px;
    font-family: var(--font-fam);
    font-size: 1.5rem;
    border: solid 2px --white;
}