* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-fam: "Pixelify Sans", sans-serif;
    --white: #fffdfd;
    --black: #000000;
    --blue: #222fe6;
}

body {
    font-family: var(--font-fam);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.help-button {
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
    height: auto;
    width: 50px;
    border-radius: 50px;
}

main {
    background-color: var(--blue);
    color: var(--white);
    padding: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

