* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-fam: "Pixelify Sans", sans-serif;
    --white: #fffdfd;
    --black: #000000;
    --blue: #222fe6;
}

body {
    font-family: var(--font-fam);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

header h1 {
    font-size: 2rem;
}
.help-button {
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
    height: 50px;
    width: 80px;
    border-radius: 50%;
    font-family: var(--font-fam);
    font-size: 2rem;
}

main {
    background-color: var(--blue);
    color: var(--white);
    padding: 100px;
    display: flex;
    flex-direction: column;
}
.scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    font-size: 20px;
}

.human-score,
.computer-score {
    text-align: center;
}
.game-round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.game-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.human-img,
.computer-img {
    background-color: var(--black);
    width: 120px;
    padding: 20px;
    border-radius: 15px;
}

.game-images img {
    height: auto;
    width: 100%;
}
.message {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.game-buttons > * {
    background-color: var(--white);
    color: var(--black);
    padding: 15px;
    font-family: var(--font-fam);
    font-size: 1.5rem;
    border: solid 2px var(--white);
    border-radius: 15px;
}